@import "tailwindcss";

/* حذف کامل Focus Ring و هایلایت‌های اضافی */
*:focus,
*:focus-visible,
*:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

.drag-handle {
    -webkit-user-drag: element;
    user-select: none;
}

/* اسکرول‌بار مخفی برای نوار تب‌ها */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
